<div id="header">
    <div id="search">
        <img src="assets/icons/search.svg" onclick="openSearch()">
    </div>
    
    <!-- Dataset buttons -->
    <div class="dataset-buttons">
        <button id="epidemBtn" class="dataset-btn active" onclick="changeDataset('epidem')" title="Epidemiology">
            <img src="assets/icons/virus.svg" class="dataset-icon" alt="Epidemiology">
        </button>
        <button id="hospBtn" class="dataset-btn" onclick="changeDataset('hospitalizations')" title="Hospitalizations">
            <img src="assets/icons/hospital.svg" class="dataset-icon" alt="Hospitalizations">
        </button>
        <button id="vaccBtn" class="dataset-btn" onclick="changeDataset('vaccinations')" title="Vaccinations">
            <img src="assets/icons/syringe.svg" class="dataset-icon" alt="Vaccinations">
        </button>
    </div>
    
    <h1>COVID-19</h1>
</div>
